/* ---------------------------
   MODAL
--------------------------- */

.custom-modal{
border-radius:10px;
border:none;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* HEADER */

.modal-header{
border-bottom:1px solid #eee;
padding:14px 18px;
}

.modal-title{
font-size:16px;
font-weight:600;
}

/* BODY */

.modal-body{
padding:18px;
font-size:14px;
color:#555;
}

/* FOOTER */

.modal-footer{
border-top:1px solid #eee;
padding:12px 18px;
}

/* CLOSE BUTTON */

.btn-close{
box-shadow:none;
}

.modal-backdrop-custom{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1050;
}
