

<header class="app-header shadow-lg">

  <div class="d-flex align-items-center justify-content-between px-3" style="height: 70px; gap: 20px;">

    <div class="d-flex align-items-center" style="gap: 25px;">

      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
          alt="logo"
          style="height: 48px; width: auto;">

   <button class="hamburger-btn" (click)="toggleSidebar()">
      <i class="bi bi-list fs-3"></i>
    </button>



    </div>

    <div class="d-flex align-items-center" style="gap: 22px; margin-right: 25px; ">


            <!-- Chat Icon -->
<!-- Chat Icon with Count Badge -->
<a routerLink="chat-page" class="header-icon position-relative">
  <i class="bi bi-chat-square-text" style="font-size: 1.2rem;"></i>

  <!-- STATIC BADGE -->
  <span class="chat-badge">3</span>
</a>


<div class="dropdown notif-dropdown mx-2">
  <a class="header-icon position-relative" data-bs-toggle="dropdown">
    <i class="bi bi-bell fs-5"></i>

    @if (unreadCount > 0 && showCount) {
      <span class="notif-badge">{{ unreadCount }}</span>
    }
  </a>
<div class="dropdown-menu dropdown-menu-end shadow notif-menu"
     data-bs-auto-close="outside"
     (click)="$event.stopPropagation()" >


    <div class="notif-header d-flex justify-content-between align-items-center px-3 py-2">
      <strong>Notifications</strong>

      <div class="actions">
        <button class="btn btn-sm btn-light me-2" (click)="markAllRead()">Mark all read</button>
        <button class="btn btn-sm btn-danger" (click)="clearAll()">Clear all</button>
      </div>
    </div>

    <hr class="my-1">

    <div class="notif-list">

      @if (notifications.length === 0) {
        <p class="text-center text-muted py-3">No notifications</p>

      } @else {

        @for (n of visibleNotifications; track n) {
          <div class="notif-item" [class.unread]="!n.read">
      @if (!n.read) {
    <i class="bi bi-dot notif-dot"></i>
  }

            <div>
              <p class="mb-0 notif-text">{{ n.message }}</p>
              <small class="notif-time">{{ n.time }}</small>
            </div>
          </div>
        }

        <button class="btn btn-link small w-100 text-center mt-2"
                (click)="toggleView()">
          {{ viewMore ? "View less" : "View more" }}
        </button>

      }
    </div>
  </div>
</div>


      <!-- Profile Dropdown -->
<!-- Profile Dropdown -->
<div class="dropdown ">

  <a class="header-icon" data-bs-toggle="dropdown">
    <img src="https://github.com/mdo.png"
          alt="profile"
          width="38" height="38"
          class="rounded-circle">
  </a>

  <ul class="dropdown-menu dropdown-menu-end profile-menu" style="width: 200px;">
            <li class="dropdown-item">Fullname<br><small>User role</small></li>
            <li><hr></li>
    <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
    <li><a class="dropdown-item" routerLink="account-settings">Settings</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" routerLink="/login">Log out</a></li>
  </ul>

</div>

    </div>

  </div>

</header>


<!-- BODY: Sidebar + Content -->
<div class="admin-container"  [class.sidebar-open]="sidebarOpen">

<aside class="sidebar "
       [ngClass]="{'open': sidebarOpen}"
       style="font-family: 'Poppins', sans-serif;">

  <ul class="nav-list" style="margin-top: 80px;">

    @for (menu of menuItems; track menu) {
      <li style="margin-left: 10px; margin-right: 10px; margin-top: 15px;">
        <a [routerLink]="menu.link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"  (click)="closeSidebarOnMobile()">
          <i [class]="menu.icon" style="font-size: 1.5rem;"></i>
          <span class="links_name poppins-medium"
                style="margin-left: 15px;">
            {{ menu.label }}
          </span>
        </a>
      </li>
    }

  </ul>

</aside>



  <!-- MAIN CONTENT -->
  <main class="admin-main">
    <router-outlet></router-outlet>
  </main>

</div>
