<div class="login-wrapper d-flex flex-column justify-content-center align-items-center vh-100 bg-light">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    alt="Talent Hub"
    class="logo-img mb-3"
  />


  <!-- TITLE -->
  <h4 class="fw-bold text-center mb-1">
    Interview Platform
  </h4>
  <p class="text-center text-muted small mb-4">
    Sign in using your Talent Hub credentials
  </p>
  <!-- LOGIN FORM -->
  <form [formGroup]="form" (ngSubmit)="login()" class="form-area">

    <input
      type="email"
      formControlName="email"
      class="form-control mb-3"
      placeholder="Email"
    />

    <input
      type="password"
      formControlName="password"
      class="form-control mb-2"
      placeholder="Password"
    />

    <div class="text-end mb-3">
      <a routerLink="/forgot-password" class="forgot-link">Forgot password?</a>
    </div>

    <button class="btn btn-primary w-100 fw-semibold py-2" type="submit">
      Login
    </button>

  </form>

  <!-- Divider -->
  <div class="text-center my-3 text-muted small">OR</div>


<div id="googleLoginBtn" class="mt-3"></div>



  <!-- Signup link -->
  <p class="text-center text-muted mt-3 small">
    Don’t have an account?
    <a routerLink="/sign-up" class="fw-semibold login-link">Sign up</a>
  </p>

</div>
