<div class="file-preview-wrapper">

  <!-- DEFAULT PLACEHOLDER -->
  @if (!fileUrl) {
    <div class="file-placeholder">
      <i class="bi bi-camera-video"></i>
      <p>No file uploaded</p>
    </div>
  }

  <!-- IMAGE PREVIEW -->
  @if (fileUrl && fileType === 'image') {
    <img
      [src]="fileUrl"
      class="file-preview-image"
      alt="Uploaded image preview"
    />
  }

@if (fileUrl && fileType === 'video') {
  <video
    class="file-preview-video"
    controls
    playsinline
    preload="metadata"
    muted
    [attr.src]="fileUrl"
    (loadedmetadata)="onLoaded()"
  >
    Your browser does not support video playback.
  </video>
}



  <!-- PDF PREVIEW -->
  @if (fileUrl && fileType === 'pdf') {
    <iframe
      [src]="fileUrl"
      class="file-preview-pdf">
    </iframe>
  }

  <!-- OTHER FILE -->
  @if (fileUrl && fileType === 'unknown') {
    <a
      [href]="fileUrl"
      target="_blank"
      class="btn btn-outline-primary btn-sm">
      View File
    </a>
  }

</div>
