<div class="maintenance-wrapper d-flex flex-column justify-content-center align-items-center vh-100">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-3"
    alt="Talent Hub Logo"
  />

  <!-- Maintenance Illustration -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764592255/ChatGPT_Image_Dec_1__2025__05_59_24_PM-removebg-preview_hu8fx0.png"
    class="maintenance-img mb-4"
    alt="Maintenance Illustration"
  />


    <!-- Title -->
  <h1 class="fw-bold text-center mb-3 maintenance-title">   Under Maintenance</h1>

  <!-- Subtitle -->
  <p class="text-muted  maintenance-subtitle ">
    We’re performing some scheduled upgrades to improve performance and reliability.
    Please check back later — we’ll be back shortly!
  </p>

</div>
