.maintenance-wrapper {
  text-align: center;

}

.logo {
  height: 85px;
}

.maintenance-img {
  height: 220px;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

h2 {
  font-weight: 700;
  font-size: 28px;
}

.medium-text {
  font-size: 15px;
  max-width: 420px;           /* Medium width for readability */
  margin: auto;
  line-height: 1.6;
}

.maintenance-title {
  font-size: 28px;
  font-weight: 700;
}

.maintenance-subtitle {
  font-size: 16px;
  max-width: 420px;
  line-height: 1.5;
}
