<div class="reset-wrapper d-flex flex-column justify-content-center align-items-center vh-100">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-3"
    alt="Logo"
  />

  <h4 class="fw-bold mb-2 text-center">Reset Password</h4>

  <p class="text-muted small text-center mb-4 px-3">
    Enter your new password to complete the reset.
  </p>

  <div class="reset-box p-4 bg-white shadow-sm">

    <form>

      <!-- NEW PASSWORD -->
      <div class="mb-3">
        <div class="input-group">

          <span class="input-group-text">
            <i class="bi bi-lock fs-5"></i>
          </span>

          <input
            type="password"
            placeholder="New Password"
            class="form-control"
            style="height:45px; font-size:14px;"
          />

          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-eye-slash"></i>
          </button>

        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="mb-3">
        <div class="input-group">

          <span class="input-group-text">
            <i class="bi bi-lock fs-5"></i>
          </span>

          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            style="height:45px; font-size:14px;"
          />

          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-eye-slash"></i>
          </button>

        </div>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="text-center mt-4 mb-3">
        <button
          type="submit"
          class="btn btn-sm btn-outline-primary px-5 py-2 fw-medium"
          style="font-size:14px;"
        >
          Reset password
        </button>
      </div>

    </form>

  </div>

</div>
