<div class="reset-container d-flex flex-column justify-content-center align-items-center vh-100 ">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-3"
    alt="Logo"
  />

  <h4 class="fw-bold mb-2">Reset Password</h4>

  <p class="text-muted small mb-4 text-center">
    Enter your new password to complete the reset.
  </p>

  <div class="reset-box p-4  rounded w-100" style="max-width: 380px;">

    <!-- FORM -->
    <form [formGroup]="form" (ngSubmit)="resetPassword()">

      <input
        type="password"
        formControlName="newPassword"
        class="form-control form-control-sm mb-3"
        placeholder="New Password"
      />

      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control form-control-sm mb-3"
        placeholder="Confirm Password"
      />

      <button class="btn btn-primary w-100 fw-semibold py-2" type="submit">
        Reset Password
      </button>

    </form>

  </div>

</div>
