/* Wrapper */
.reset-wrapper {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/* Logo */
.logo {
  height: 60px;
}

@media (max-width: 480px) {
  .logo {
    height: 50px;
  }
}

/* White box */
.reset-box {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
}

/* Input fields */
.form-control {
  height: 42px;
  border-radius: 8px;
  font-size: 14px;
}

/* Submit button */
.btn-primary {
  height: 42px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
}
