.reset-container {
  max-width: 420px;
  margin: auto;
  text-align: center;
}

.logo {
  height: 70px;
}

.reset-box {
  border-radius: 12px;
}

.form-control {
  height: 45px;
  border-radius: 8px;
}

.btn-primary {
  height: 45px;
  border-radius: 8px;
  font-weight: 600;
}
