<div class="reset-wrapper d-flex flex-column justify-content-center align-items-center vh-100">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-3"
    alt="Logo"
  />

  <h4 class="fw-bold mb-2 text-center">Reset Password</h4>

  <p class="text-muted small text-center mb-4 px-3">
    Enter your new password to complete the reset.
  </p>

  <div class="reset-box p-4 bg-white shadow-sm">

    <form [formGroup]="form" (ngSubmit)="resetPassword()">

      <input
        type="password"
        formControlName="newPassword"
        class="form-control mb-3"
        placeholder="New Password"
      />

      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control mb-3"
        placeholder="Confirm Password"
      />

      <button class="btn btn-primary w-100 fw-semibold py-2" type="submit">
        Reset Password
      </button>

    </form>

  </div>

</div>
