
.signup-card  {
  width: 400px;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.08);
  background: #fff;
  border: 1px solid #e5e5e5;
}

.logo-img {
  height: 80px;
}

form input {
  height: 45px;
  border-radius: 8px;
}

.btn-primary {
  height: 45px;
  border-radius: 8px;
  font-weight: 600;
}

.google-btn {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
  height: 45px;
}


.google-btn:hover {
  background: #f7f7f7;
  border-color: #ccc;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.google-icon {
  height: 18px;
}

.small-text {
  font-size: 14px;
}
