
/* ============================
FILTER TOOLBAR
============================ */

.filter-toolbar{
background:#fff;
border:1px solid #e5e7eb;
border-radius:8px;
padding:14px;
margin-bottom:18px;
}

.filter-input,
.filter-select{
height:36px;
font-size:13px;
border:1px solid #e5e7eb;
border-radius:6px;
}

.filter-input:focus,
.filter-select:focus{
border-color:#2563eb;
box-shadow:0 0 0 2px rgba(37,99,235,.08);
}

.filter-buttons{
display:flex;
gap:10px;
}

.filter-btn{
height:35px;
font-size:13px;
padding:0 20px;
border-radius:6px;
}

.filter-btn.btn-primary{
background:#2563eb;
border:none;
}

.filter-btn.btn-outline-secondary{
border:1px solid #e5e7eb;
}


/* ============================
MOBILE
============================ */

@media (max-width:768px){

.filter-buttons{
width:100%;
}

.filter-btn{
flex:1;
width:100%;
}

.filter-input,
.filter-select{
width:100%;
}

.result-text{
font-size:12px;
}

.custom-pagination .page-link{
padding:5px 8px;
font-size:12px;
}

}

/* recruiter card */
.recruiter-card{
  position:relative;
  border:1px solid #e5e7eb;
  border-radius:10px;
  padding:16px;
  margin-bottom:20px;
}


.blog-media {
  width: 100%;
  max-height: 400px;   /* 👈 controls size */
  object-fit: cover;   /* 👈 keeps it clean */
  border-radius: 8px;
}
.blog-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.blog-card:hover {
  transform: translateY(-3px);
}

.blog-img {
  height: 140px;
  object-fit: cover;
  width: 100%;
}
