<div class="contract-form-page py-4">

  <div class="container-fluid max-w-4xl mx-auto px-2 px-md-4">

    <!-- HEADER -->
    <div class="d-flex align-items-center mb-4 gap-3">
      <a routerLink="/user/your-contracts"
        class="btn-back-nav rounded-circle d-flex flex-shrink-0 align-items-center justify-content-center shadow-lg"
        title="Back to Contracts" style="width: 45px; height: 45px;">
        <i class="bi bi-arrow-left fs-4"></i>
      </a>

      <div class="text-start">
        <h5 class="text-white fw-bold mb-1 ">
          {{ mode() === 'create'? 'Create New Contract' : 'Update Contract' }}
        </h5>
        <p class="text-secondary mb-0" style="font-size: 14px;"> Fill all contract details properly.</p>
      </div>
    </div>

    <form [formGroup]="contractForm" (ngSubmit)="onSubmit()" class="glass p-3 p-md-5 rounded-4 shadow-lg">

      <div class="row g-4">

        <div class="col-12">
          <app-input type="text" label="Contract Title" placeholder="Enter Contract Title" icon="bi-briefcase-fill"
            formControlName="contractTitle" [required]="true"
            [error]="f['contractTitle'].touched && f['contractTitle'].errors?.['required'] ? 'Contract title is required'  : '' "></app-input>
        </div>



        <div class="col-12 col-md-6">
          <app-input type="text" label="Estimated Budget (₹)" placeholder="Enter Estimated Budget"
            icon="bi-currency-rupee" formControlName="estimatedBudget" [required]="true"
            [error]=" f['estimatedBudget'].touched && f['estimatedBudget'].errors?.['required'] ? 'Estimated budget is required' : f['estimatedBudget'].touched && (f['estimatedBudget'].errors?.['min'] || f['estimatedBudget'].errors?.['max']) ? 'Budget must be between ₹30,000 and ₹75,000' : ''"></app-input>
        </div>

        <div class="col-12 col-md-6">
          <app-input type="select" label="Contract Type" placeholder="Select Contract Type" icon="bi-card-list"
            formControlName="contractType" [options]="contractTypeOptions" [required]="true"></app-input>
        </div>

        <div class="col-12 col-md-6">
          <app-input type="select" label="Contract Subject" placeholder="Select Contract Subject"
            icon="bi-journal-bookmark-fill" formControlName="contractSubject" [options]="contractSubjectOptions"
            [required]="true"> </app-input>
        </div>

        <div class="col-12 col-md-6">
          <app-input type="date" label="Contract Start Date" icon="bi-calendar-event"
            formControlName="contractStartDate" [required]="true"
            [error]=" f['contractStartDate'].touched && f['contractStartDate'].hasError('required') ? 'Start date is required' : '' "></app-input>
        </div>

        <div class="col-12 col-md-6">
          <app-input type="date" label="Contract End Date" icon="bi-calendar-check" formControlName="contractEndDate"
            [required]="true"
            [error]=" f['contractEndDate'].touched && f['contractEndDate'].hasError('required') ? 'End date is required' : f['contractEndDate'].touched && contractForm.hasError('dateRangeInvalid') ? contractForm.getError('dateRangeInvalid') : ''"></app-input>
        </div>

        <div class="col-12 col-md-6">
          <app-input type="select" label="Contract Status" placeholder="Select Contract Status"
            icon="bi-check-circle-fill" formControlName="status" [options]="statusOptions" [required]="true">
          </app-input>
        </div>

        <div class="col-12">
          <app-rich-text-editor label="Contract Description" placeholder="Write complete contract details here..."
            formControlName="contractDescription" [required]="true"
            [error]="f['contractDescription'].touched && f['contractDescription'].errors?.['required'] ? 'Description is required' : '' "></app-rich-text-editor>
        </div>


        <div class="col-12 pt-3">

          <div class="d-flex justify-content-between gap-2 gap-md-3">
            <app-button type="button" variant="outline" size="sm"
              customClass="rounded-3 py-2 px-2 py-md-3 px-md-4 w-100" style="font-size: 13px;"
              routerLink="/user/your-contracts"> {{ mode() === 'create' ? 'Cancel' : 'Discard Changes'}} </app-button>
            <app-button type="submit" variant="primary" size="sm"
              customClass="rounded-3 py-2 px-2 py-md-3 px-md-4 w-100" style="font-size: 13px;" [loading]="loading()">{{
              mode() === 'create' ? 'Post Contract' : 'Update Contract'}}</app-button>
          </div>

        </div>

      </div>

    </form>

  </div>

</div>