.dropdown-center .dropdown-menu {

  transform: translateX(-50%) !important;
  margin-top: 60px !important; /* small gap under icon */
}
.profile-menu {
  margin-top: 15px !important; /* dropdown spacing below profile icon */
}




/* Base nav-link style */
.nav-link-custom {
  color: #444444f8;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 6px; /* space for bottom border */
  position: relative;
  transition: color 0.2s ease;
}

/* Hover */
.nav-link-custom:hover {
  color: #000 /* blue hover */
}

/* ACTIVE LINK STYLE */
.active-link {
  color: #000 !important;       /* bold black text */
  font-weight: 700 !important;
  font-style: bold;

  /* gradient underline */
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;

  /* blue gradient underline */
  background: linear-gradient(90deg, #007bff, #66b2ff);
  border-radius: 2px;
}









/* Header base layout */
.app-header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 1000;
}

/* Right-side header icons */
.header-icon {
  width: 45px;
  height: 45px;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: background .2s ease, transform .1s ease;
}

.header-icon:hover {
  background: #f3f3f3;
  transform: translateY(-1px);
}
