.custom-navbar {
  height: 60px;
  /* Fixed height for the navbar */
}

.custom-navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background: #fff;
}


.logo {
  height: 45px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
}

.nav-link {
  transition: color 0.2s ease-in-out;
  font-size: 14px;
}

.nav-link:hover {
  color: #0d99fd !important;
  /* Bootstrap primary color on hover */
}

/* Styling for the active link */
.nav-link.active {
  color: #0d99fd !important;
  font-weight: 700 !important;
}