
  <div class="table-responsive table-card">

    <table class="table align-middle clean-table">

      <thead>
        <tr>
          @for (col of columns; track col.name) {
            <th>{{ col.name }}</th>
          }
        </tr>
      </thead>

      <tbody>

        @for (row of data; track row.id; let i = $index) {
          <tr>

            @for (col of columns; track col.name) {
              <td [class.text-center]="col.center">

                <!-- S.NO -->
                @if (col.type === 'index') {
                  {{ i + 1 }}
                }

                <!-- CUSTOM TEMPLATE -->
                @else if (col.template) {
                  <ng-container
                    *ngTemplateOutlet="col.template; context: { $implicit: row }">
                  </ng-container>
                }

                <!-- DEFAULT -->
                @else {
                  {{ row[col.prop] }}
                }

              </td>
            }

          </tr>
        }

      </tbody>

    </table>

    <!-- EMPTY -->
    @if (!data.length) {
      <div class="text-center py-3 text-muted">
        No data available
      </div>
    }

  </div>

