<div class="otp-container">
  <img src="/logo 2.png" alt="Talent Hub" class="logo" />
  
  <div class="icon-circle"></div>
  
  <h1 class="title">Verify your Email</h1>
  <p class="subtitle">We've sent a 6-digit verification code to <b>******@gmail.com</b></p>
  
  <p class="instruction">Enter the 6-digit code below</p>
  
  <div class="otp-inputs-wrapper">
    <input type="text" class="otp-input" maxlength="1">
    <input type="text" class="otp-input" maxlength="1">
    <input type="text" class="otp-input" maxlength="1">
    <input type="text" class="otp-input" maxlength="1">
    <input type="text" class="otp-input" maxlength="1">
    <input type="text" class="otp-input" maxlength="1">
  </div>
  
  <p class="resend-text">Didn't receive the code? <span class="resend-bold">Resend OTP</span> in <span class="resend-bold">00:45</span></p>
  
  <button type="button" class="btn-primary" (click)="verify()">Verify & Continue</button>
  
  <a class="back-link" routerLink="/register">Back to Register</a>
</div>
