<div class="otp-container d-flex flex-column justify-content-center align-items-center vh-100 ">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-3"
    alt="Logo"
  />

  <!-- Heading -->
  <h4 class="fw-bold mb-1">Verify Your Email</h4>

  <!-- Subtext -->
  <p class="text-muted small mb-4 text-center">
    A 6-digit verification code has been sent to
    <strong>{{ maskedEmail }}</strong>.
    Please enter the code below.
  </p>

  <!-- OTP INPUT FIELD -->
  <div class="otp-box d-flex gap-2 mb-4">
    <input
      *ngFor="let input of otpInputs; let i = index"
      type="text"
      maxlength="1"
      class="otp-input"
      (input)="onInput($event, i)"
      (keydown)="onKeyDown($event, i)"
      [(ngModel)]="otp[i]"
    />
  </div>

  <!-- VERIFY BUTTON -->
  <button
    class="btn btn-primary w-50 py-2 fw-semibold"
    [disabled]="otp.join('').length < 6"
    (click)="verify()"
  >
    Verify
  </button>

  <!-- RESEND LINK -->
  <p class="small text-muted mt-3">
    Didn’t receive code?
    <a class="fw-semibold" style="cursor:pointer" (click)="resendOtp()">Resend</a>
  </p>

</div>
