<header class="app-header shadow-lg">

  <!-- TOP NAV CONTAINER -->
  <div class="d-flex align-items-center justify-content-between px-3" style="height: 70px; gap: 20px;">
    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png" alt="logo" style="height: 48px; width: auto; margin-right: 10px;">

    <div class="d-flex align-items-center" style="gap: 10px;">

      <app-notification-layout></app-notification-layout>

      <!-- Profile Dropdown -->
      <app-profile-layout></app-profile-layout>

    </div>

  </div>

</header>
