<div class="container mt-4 mb-5">
  <form [formGroup]="profileForm" (ngSubmit)="submitProfile()" class="w-100" style="max-width: 1100px;">

  <div class="card p-4 shadow-sm">
    <h4 class="fw-bold mb-4">Seeker Profile Setup</h4>

    <!-- ================= PROFILE PHOTO ================= -->


      <h5 class="section-title">Profile Photo</h5>

      <app-file-preview [fileUrl]="profilePhotoUrl"></app-file-preview>
      <app-file-upload [bucketKey]="BucketKey.JOBSEEKER_DATA" [section]="UploadSection.PROFILE_PHOTO"    [preLoginUserId]="userId" accept="image/*" class="mt-5" (uploaded)="onPhotoUploaded($event)"></app-file-upload>

      @if (
      profileForm.get('profilePhoto')?.touched &&
      profileForm.get('profilePhoto')?.errors?.['required']
      ) {
      <small class="text-danger d-block mt-2">
        Profile photo is required
      </small>
      }

    <!-- ================= BASIC DETAILS ================= -->
      <h5 class="section-title mt-4">Basic Details</h5>

      <div class="row g-3">

        <div class="col-md-4">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" [value]="firstName" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" [value]="lastName" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" [value]="email" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Mobile Number</label>
          <div class="d-flex gap-2">
            <input type="text" class="form-control" placeholder="Phone number" formControlName="mobile">

            <button type="button" class="btn btn-outline-primary">Verify</button>
          </div>

          @if (
          f['mobile'].invalid &&
          (f['mobile'].touched || f['mobile'].dirty)
          ) {
          <small class="text-danger">Enter valid 10-digit mobile</small>
          }


        </div>

        <div class="col-md-4">
          <label class="form-label">Gender</label>
          <select class="form-select" formControlName="gender">
            <option value="" >Select Gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>

          @if (
          f['gender'].invalid &&
          (f['gender'].touched || f['gender'].dirty)
          ) {
          <small class="text-danger">Gender required</small>
          }
        </div>

      </div>

<h5 class="section-title">Work Experience</h5>

<!-- Array-level validation -->
@if (
  experiencesArray.touched &&
  experiencesArray.errors?.['minArrayLength']
) {
  <small class="text-danger d-block mb-2">
    At least one work experience is required
  </small>
}

<div formArrayName="experiences">

  @for (exp of experiencesArray.controls; track $index) {
    <div class="exp-card border rounded p-3 mb-3 bg-light"
         [formGroupName]="$index">

      <div class="row g-3">

        <!-- Job Title -->
        <div class="col-md-4">
          <input class="form-control"
                 placeholder="Job Title"
                 formControlName="jobTitle">

          @if (
            exp.get('jobTitle')?.invalid &&
            exp.get('jobTitle')?.touched
          ) {
            <small class="text-danger">Job title is required</small>
          }
        </div>

        <!-- Company -->
        <div class="col-md-4">
          <input class="form-control"
                 placeholder="Company"
                 formControlName="company">

          @if (
            exp.get('company')?.invalid &&
            exp.get('company')?.touched
          ) {
            <small class="text-danger">Company is required</small>
          }
        </div>

        <!-- Duration -->
        <div class="col-md-4">
          <input class="form-control"
                 placeholder="Duration (2021 - 2024)"
                 formControlName="duration">

          @if (
            exp.get('duration')?.invalid &&
            exp.get('duration')?.touched
          ) {
            <small class="text-danger">Duration is required</small>
          }
        </div>

        <!-- Description -->
        <div class="col-12">
          <textarea class="form-control"
                    rows="2"
                    placeholder="Description"
                    formControlName="description"></textarea>
        </div>

      </div>

      <div class="text-end mt-2">
        <button type="button"
                class="btn btn-danger btn-sm"
                (click)="removeExperience($index)">
          Remove
        </button>
      </div>
    </div>
  }
</div>

<button type="button"
        class="btn btn-primary btn-sm"
        (click)="addExperience()">
  + Add Experience
</button>


<h5 class="section-title">Certifications</h5>

<!-- Array-level validation -->
@if (
  certificationsArray.touched &&
  certificationsArray.errors?.['minArrayLength']
) {
  <small class="text-danger d-block mb-2">
    At least one certification is required
  </small>
}

<div formArrayName="certifications">

  @for (cert of certificationsArray.controls; track $index) {
    <div class="border rounded p-3 mb-3 bg-light"
         [formGroupName]="$index">

      <div class="row g-3">

        <!-- Name -->
        <div class="col-md-6">
          <input class="form-control"
                 placeholder="Certification Name"
                 formControlName="name">

          @if (
            cert.get('name')?.invalid &&
            cert.get('name')?.touched
          ) {
            <small class="text-danger">Certification name is required</small>
          }
        </div>

        <!-- Issued By -->
        <div class="col-md-6">
          <input class="form-control"
                 placeholder="Issued By"
                 formControlName="issuedBy">

          @if (
            cert.get('issuedBy')?.invalid &&
            cert.get('issuedBy')?.touched
          ) {
            <small class="text-danger">Issuer is required</small>
          }
        </div>

        <!-- Issued Date -->
        <div class="col-md-6">
          <input type="date"
                 class="form-control"
                 formControlName="issuedDate">

          @if (
            cert.get('issuedDate')?.invalid &&
            cert.get('issuedDate')?.touched
          ) {
            <small class="text-danger">Issued date is required</small>
          }
        </div>

        <!-- URL -->
        <div class="col-md-6">
          <input class="form-control"
                 placeholder="Certificate URL (optional)"
                 formControlName="certificateUrl">
        </div>

      </div>

      <div class="text-end mt-2">
        <button type="button"
                class="btn btn-danger btn-sm"
                (click)="removeCertification($index)">
          Remove
        </button>
      </div>
    </div>
  }
</div>

<button type="button"
        class="btn btn-primary btn-sm"
        (click)="addCertification()">
  + Add Certification
</button>



    <!-- ================= LANGUAGES ================= -->
   <h6 class="fw-bold mt-4">Languages</h6>

        <div class="row g-3 align-items-end">

          <div class="col-md-4">
            <select #languageSelect class="form-select">
              <option value="" selected disabled>Select Language</option>
              <option>English</option>
              <option>Hindi</option>
              <option>Telugu</option>
            </select>
          </div>

          <div class="col-md-4">
            <select #levelSelect class="form-select">
              <option value="" selected disabled>Select Level</option>
              <option>Beginner</option>
              <option>Intermediate</option>
              <option>Professional</option>
            </select>
          </div>

          <div class="col-md-4">
            <button type="button" class="btn btn-primary w-100" (click)="addLanguage(languageSelect, levelSelect)">
              + Add Language
            </button>
          </div>

        </div>

        <!-- Validation (only after interaction) -->
        @if (
        languagesArray.touched &&
        languagesArray.errors?.['minArrayLength']
        ) {
        <small class="text-danger d-block mt-2">
          At least one language is required
        </small>
        }

        <!-- Language List -->
        <div class="mt-3">
          @for (lang of languagesArray.controls; track $index) {
          <div class="d-flex align-items-center gap-3 mb-2 border rounded p-2">
            <span class="fw-semibold">
              {{ lang.value.language }} ({{ lang.value.level }})
            </span>

            <button type="button" class="btn btn-sm btn-outline-danger ms-auto" (click)="removeLanguage($index)">
              Remove
            </button>
          </div>
          }
        </div>




    <!-- ================= SKILLS ================= -->
        <h6 class="fw-bold mt-4">Skills</h6>


        <div class="col-md-12">

          <!-- Input -->
          <input type="text" class="form-control" placeholder="Type a skill & press Enter"
            (keydown.enter)="addSkill($event)" />

          <!-- Validation -->
          @if (
          skillsArray.touched &&
          skillsArray.errors?.['minArrayLength']
          ) {
          <small class="text-danger d-block mt-1">
            At least one skill is required
          </small>
          }


          <!-- Skill badges -->
          <div class="mt-2">
            @for (skill of skillsArray.controls; track $index) {
            <span class="badge bg-primary px-3 py-2 me-2 mb-2">
              {{ skill.value }}
              <button type="button" class="btn-close btn-close-white ms-2" (click)="removeSkill($index)">
              </button>
            </span>
            }
          </div>

        </div>

                <h6 class="fw-bold mt-4">Bio Description</h6>
        <div class="col-md-12">
          <textarea class="form-control" rows="3" placeholder="Describe responsibilities"
            formControlName="bioDescription"></textarea>

          @if (
          f['bioDescription'].invalid &&
          (f['bioDescription'].touched || f['bioDescription'].dirty)
          ) {
          <small class="text-danger">Minimum 10 characters required</small>
          }

        </div>





        <!-- ================= SOCIAL PROFILES ================= -->
        <h6 class="section-title mt-4">Social Profiles</h6>

        <div formArrayName="socialProfiles">

          @for (profile of socialProfiles.controls; track $index) {

          <div class="border rounded p-3 mb-3" [formGroupName]="$index">
            <div class="row g-3 align-items-center">

              <!-- Platform -->
              <div class="col-md-4">
                <select class="form-select" formControlName="platform" (blur)="profile.markAsTouched()">
                  <option value="" disabled>Select Platform</option>
                  <option>LinkedIn</option>
                  <option>GitHub</option>
                  <option>Portfolio</option>
                  <option>Twitter / X</option>
                  <option>Instagram</option>
                  <option>Facebook</option>
                  <option>Dribbble</option>
                  <option>Behance</option>
                </select>

                @if (
                profile.get('platform')?.errors?.['required'] &&
                profile.get('platform')?.touched
                ) {
                <small class="text-danger">Platform is required</small>
                }

              </div>

              <!-- Link -->
              <div class="col-md-7">
                <input class="form-control" formControlName="link" placeholder="https://..."
                  (blur)="profile.markAsTouched()" />
                @if (
                profile.get('link')?.errors?.['required'] &&
                profile.get('link')?.touched
                ) {
                <small class="text-danger d-block">
                  Link is required
                </small>
                }


                @if (isProfileInvalid($index)) {

                @if (profile.errors?.['invalidUrl']) {
                <small class="text-danger">
                  Please enter a valid URL (https://...)
                </small>
                }

                @if (profile.errors?.['platformMismatch']) {
                <small class="text-danger">
                  URL does not match selected platform
                </small>
                }

                }

              </div>

              <!-- Remove -->
              <div class="col-md-1">
                <button type="button" class="btn btn-danger w-100" (click)="removeSocialProfile($index)">
                  X
                </button>
              </div>

            </div>
          </div>
          }
        </div>

        <!-- Add Button -->
        <button type="button" class="btn btn-primary btn-sm" (click)="addSocialProfile()"
          [disabled]="!canAddAnotherProfile()">
          + Add Profile
        </button>


    <!-- SUBMIT -->
      <div class="text-end mt-4">
        <button class="btn btn-success px-5" type="submit" [disabled]="profileForm.invalid">
          Submit Profile
        </button>
      </div>

  </div>
</form>
</div>
