/* Wrapper */
.signup-wrapper {
  width: 100%;
  padding: 20px;
}

/* Logo */
.logo-img {
  height: 80px;
}

@media (max-width: 480px) {
  .logo-img {
    height: 50px;
  }
}

/* Form container – centers elements & limits width */
.form-area {
  width: 100%;
  max-width: 320px;
}


/* Login link */
.login-link {
  text-decoration: none;
  transition: 0.2s ease;
}

.login-link:hover {
  text-decoration: underline;
}
