<div class="signup-wrapper d-flex flex-column justify-content-center align-items-center vh-100 bg-light">

  <!-- Logo -->
  <img src="/assets/logo/website-logo.png" class="logo-img mb-3" alt="Talent Hub" />

  <h4 class="fw-bold mb-1 text-center">
    Create {{ role === 'recruiter' ? 'Recruiter' : 'Job Seeker' }} Account
  </h4>

  <p class="text-muted small text-center mb-3">
    Join Talent Hub as a {{ role === 'recruiter' ? 'Recruiter' : 'Job Seeker' }}
  </p>

  <form class="form-area"   [formGroup]="form" (ngSubmit)="onSubmit()">

 <app-input-fields
      [form]="form"
      controlName="fullName"
      height="45px"
      placeholder="Full Name">
    </app-input-fields>

    <!-- EMAIL -->
    <app-input-fields
      [form]="form"
      controlName="email"
      type="email"
      height="45px"
      placeholder="Email">
    </app-input-fields>

    <!-- PASSWORD -->
    <app-input-fields
      [form]="form"
      controlName="password"
      type="password"
      height="45px"
      placeholder="Password">
    </app-input-fields>



<app-button
  label="Create Account"
  variant="primary"
  type="submit"
  size="lg"
  [isLoading]="isLoading"
  [disabled]="form.invalid"
  class="w-100">
</app-button>

  </form>

  <p class="small text-muted mt-3">
    Already have an account?
    <a href="/login" class="fw-semibold login-link">Log in</a>
  </p>

</div>
