:host {
  display: block;
  z-index: 1055;
}

.header-navbar {
  height: 60px;
}

.navbar-brand img {
  display: block;
}

/* ===== DESKTOP LINKS ===== */
.header-nav a {
  margin: 0 14px;
  font-size: 14px;
  font-weight: 400;
  color: #111;
  text-decoration: none;
  position: relative;
}

.header-nav a.active-link {
  font-weight: 600;
}

.header-nav a.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #111;
}

/* ===== MOBILE LINKS ===== */
.header-nav-mobile a {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 14px;
  color: #111;
  text-decoration: none;
  position: relative;
}

.header-nav-mobile a.active-link {
  font-weight: 600;
}

.header-nav-mobile a.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #111;
}
