.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #d5dde6;
}
:host {
  display: block;
  z-index: 1055;
}

.navbar {
  z-index: 1055;
}


.header-nav a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

.header-nav a:hover {
  color: #007bff; /* hover blue */
}




/* Enable dropdown on hover (desktop only) */
@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  /* Optional: highlight toggle text on hover */
  .nav-item.dropdown:hover .nav-link.dropdown-toggle {
    color: #007bff;
  }
}

