<router-outlet></router-outlet>


<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
  @for (toast of toasts; track toast.id) {
  <app-toast [variant]="getVariant(toast.type)" [message]="toast.message" [icon]="getIcon(toast.type)"
    [title]="getTitle(toast.type)" (closed)="removeToast(toast.id)">
  </app-toast>
  }
</div>

@if (activeModal?.open) {
<app-modal [open]="activeModal!.open" [title]="activeModal!.title || ''" [message]="activeModal!.message || ''"
  [variant]="activeModal!.variant || 'icon'" [size]="activeModal!.size || 'sm'"
  [icon]="activeModal!.icon || 'bi bi-exclamation-triangle'" [iconVariant]="activeModal!.iconVariant || 'warning'"
  [showClose]="activeModal!.showClose ?? true" [showActions]="activeModal!.showActions ?? true"
  [showCancel]="activeModal!.showCancel ?? true" [cancelLabel]="activeModal!.cancelLabel || 'Cancel'"
  [confirmLabel]="activeModal!.confirmLabel || 'Confirm'" [confirmVariant]="activeModal!.confirmVariant || 'primary'"
  (confirmed)="onModalConfirm()" (closed)="onModalClose()" (cancelled)="onModalClose()">
</app-modal>
}