<div class="dropdown">

  <div class="profile-trigger" data-bs-toggle="dropdown" aria-expanded="false" role="button">
    <img [src]="profileImage" (error)="profileImage = 'https://res.cloudinary.com/dpp8aspqs/image/upload/v1739507963/user_3_vj7jox.png'" class="profile-img" alt="profile">
  </div>

  <div class="dropdown-menu dropdown-menu-end profile-menu">
    
    <div class="profile-header">
      <div class="profile-name">{{ fullName }}</div>
      <div class="profile-role">{{ role }}</div>
    </div>

    <ul class="list-unstyled mb-0">
      <li>
        <a class="dropdown-item" routerLink="/user/profile">
          <i class="bi bi-person"></i>
          <span>My Profile</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/user/account-settings">
          <i class="bi bi-gear"></i>
          <span>Account Settings</span>
        </a>
      </li>
      
      <li><hr class="dropdown-divider"></li>
      
      <li>
        <a class="dropdown-item text-danger" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          <span>Sign Out</span>
        </a>
      </li>
    </ul>

  </div>

</div>
