:host {
  display: inline-block; /* instead of block */
  width: auto;           /* remove full width */
}

.btn {
  width: auto;           /* important */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}
