<div class="confirm-container d-flex flex-column justify-content-center align-items-center vh-100">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-5"
    alt="Logo"
  />

  <!-- Success Illustration -->
  <img
    src="https://cdn-icons-png.flaticon.com/512/845/845646.png"
    class="success-img mb-5 "
    alt="Success"
  />


  <h3 class="fw-bold mb-2">Account Verified 🎉</h3>

<p class=" mb-2">
  Your <strong>{{ role }}</strong> account has been successfully verified and activated.
</p>

<p class=" mb-4">
  You're all set! You can now log in and continue using Talent Hub.
</p>



  <!-- Login Button -->
<!-- Login Redirect -->
<a routerLink="/login" class="login-link fw-semibold d-flex align-items-center gap-1 text-primary mt-3">
  Login with your credentials
  <i class="bi bi-arrow-right fs-5"></i>
</a>


</div>
