<div class="error-wrapper d-flex flex-column justify-content-center align-items-center vh-100 bg-light">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-4"
    alt="Talent Hub Logo"
  />

  <!-- 404 Illustration -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764593257/ChatGPT_Image_Dec_1_2025_06_17_23_PM_uaeh2d.png"
    class="error-img mb-4"
    alt="404 Error Illustration"
  />

  <!-- Title -->
  <h1 class="fw-bold text-center mb-3 error-title">Page Not Found</h1>

  <!-- Subtitle -->
  <p class="text-muted  error-subtitle ">
    The page you’re looking for doesn't exist or may have been moved.<br>
    Please check the URL or return to the homepage.
  </p>

</div>
