/* Container */
.fp-container {
  width: 100%;
  padding: 20px;

}

/* Logo */
.logo {
  height: 60px;
}

@media (max-width: 480px) {
  .logo {
    height: 50px;
  }
}

/* White box */
.fp-box {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
}

/* Input */
.form-control {
  height: 42px;
  border-radius: 8px;
  font-size: 14px;
}

/* Button */
.btn-primary {
  height: 42px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
}

/* Link */
.login-link {
  text-decoration: none;
  transition: 0.2s ease;
}

.login-link:hover {
  text-decoration: underline;
}
