<div class="fp-container d-flex flex-column justify-content-center align-items-center vh-100 bg-light">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo mb-3"
    alt="Logo"
  />

  <h4 class="fw-bold mb-2 text-center">Forgot Password?</h4>

  <p class="text-muted small mb-4 text-center px-3">
    Enter your registered email address. We’ll send you a verification code to reset your password.
  </p>

  <div class="fp-box p-4 bg-white shadow-sm">


    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()">
      <div class="mb-3">
        <div class="input-group">
          <input type="email" id="email" formControlName="email" placeholder="Enter your Email Address"
            [ngClass]="{'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}"
            class="form-control" style="height: 45px; font-size: 14px;" />
        </div>
        @if (forgotPasswordForm.get('email')?.touched) {
        <div class="mt-1">
          @if (forgotPasswordForm.get('email')?.errors?.['required']) {
          <small class="text-danger" style="font-size: 12px;">
            Email is required.
          </small>
          }

          @if (forgotPasswordForm.get('email')?.errors?.['pattern']) {
          <small class="text-danger" style="font-size: 12px;">
            Invalid email format.
          </small>
          }
        </div>
        }

      </div>

      <div class="text-center mt-4 mb-3">
        <button type="submit" class="btn btn-primary w-100 fw-semibold py-2" [disabled]="forgotPasswordForm.invalid"> Send
          Verification Code</button>
      </div>
    </form>

  </div>

  <p class="text-muted small mt-3">
    Remember your password?
    <a routerLink="/login" class="fw-semibold login-link">Login</a>
  </p>

</div>
