<div class="forgot-container">
  <img src="/logo 2.png" alt="Talent Hub" class="logo" />
  
  <div class="icon-circle"></div>
  
  <h1 class="title">Forgot password?</h1>
  <p class="subtitle">No worries!. Enter your email address and we'll<br>send you a OTP to Reset your password</p>
  
  <div class="form-wrapper">
    <div class="form-group">
      <label class="form-label" for="email">Email*</label>
      <input type="email" id="email" class="form-control" name="email" required>
    </div>
    
    <button type="button" class="btn-primary" (click)="sendResetCode()">Send Reset Code</button>
    
    <a class="back-link" routerLink="/login">Back to Login</a>
    
    <p class="remember-text">Remember your password? <a class="login-link" routerLink="/login">Login</a></p>
  </div>
</div>