<div class="signup-wrapper d-flex flex-column justify-content-center align-items-center vh-100 bg-light">

  <!-- Logo -->
  <img
    src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1764499024/Logo_no_background_ybka8q.png"
    class="logo-img mb-3"
    alt="Talent Hub"
  />

  <h4 class="fw-bold mb-1 text-center">Create Recruiter Account</h4>
  <p class="text-muted small text-center mb-3">Join Talent Hub as a Recruiter</p>

  <form [formGroup]="form" (ngSubmit)="signup()" class="form-area">

    <input formControlName="fullName" class="form-control mb-3" placeholder="Full Name">
    <input formControlName="email" class="form-control mb-3" placeholder="Email">
    <input formControlName="password" class="form-control mb-3" placeholder="Password" type="password">

    <button class="btn btn-primary w-100 py-2 fw-semibold" type="submit">
      Create Account
    </button>

  </form>

  <div class="text-center text-muted small my-2">OR</div>

<div id="googleRecruiterBtn"></div>




  <p class="small text-muted mt-3">
    Already have an account?
    <a routerLink="/login" class="fw-semibold login-link">Log in</a>
  </p>
</div>
