<div class="mb-3" [formGroup]="form">

  @if (isTextarea) {
    <textarea
      class="form-control"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [formControlName]="controlName"
      [ngClass]="{ 'is-invalid': isInvalid() }"
      rows="4">
    </textarea>
  }

  @else if (!isSelect) {
    <input
      [type]="type"
      class="form-control"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [formControlName]="controlName"
      [ngClass]="{ 'is-invalid': isInvalid() }"
      [ngStyle]="height ? { height: height } : null"
    />
  } @else {
    <select
      class="form-select"
      [formControlName]="controlName"
      [ngClass]="{ 'is-invalid': isInvalid() }"
      [ngStyle]="height ? { height: height } : null"
    >
<option value="" disabled>
  {{ placeholder || 'Select option' }}
</option>

      @for (opt of options; track opt) {
        <option [value]="opt">{{ opt }}</option>
      }
    </select>
  }

  @if (isInvalid()) {
    <small class="error-text">
      {{ getErrorMessage() }}
    </small>
  }

</div>
