<div class="w-100">

  <!-- ================= FORM MODE ================= -->
  @if (mode === 'form') {
    <div [formGroup]="form">

      <!-- TEXTAREA (ONLY FORM) -->
      @if (isTextarea) {
        <textarea
          class="form-control"
          [placeholder]="placeholder"
          [readonly]="readonly"
          [formControlName]="controlName"
          [ngClass]="{ 'is-invalid': isInvalid() }"
          rows="4">
        </textarea>
      }

      <!-- INPUT -->
      @else if (!isSelect) {
        <input
          [type]="type"
          class="form-control"
          [placeholder]="placeholder"
          [readonly]="readonly"
          [formControlName]="controlName"
          [ngClass]="{ 'is-invalid': isInvalid() }"
          [ngStyle]="height ? { height: height } : null"
        />
      }

      <!-- SELECT -->
      @else {
        <select
          class="form-select"
          [formControlName]="controlName"
          [ngClass]="{ 'is-invalid': isInvalid() }"
        >
          <option value="" disabled>
            {{ placeholder || 'Select option' }}
          </option>

          @for (opt of options; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      }

      <!-- VALIDATION -->
      @if (isInvalid()) {
        <small class="error-text">
          {{ getErrorMessage() }}
        </small>
      }

    </div>
  }

  <!-- ================= FILTER MODE ================= -->
  @else {

    <!-- INPUT ONLY -->
    @if (!isSelect) {
      <input
        [type]="type"
        class="form-control"
        [placeholder]="placeholder"
        [value]="value"
        (input)="onFilterChange($event)"
      />
    }

    <!-- SELECT ONLY -->
    @else {
      <select
        class="form-select"
        [value]="value"
        (change)="onFilterChange($event)"
      >
        <option value="">
          {{ placeholder || 'Select option' }}
        </option>

        @for (opt of options; track opt) {
          <option [value]="opt">{{ opt }}</option>
        }
      </select>
    }

  }

</div>
