<section class="profileForm-section py-5">
  <h4 class="fw-semibold mb-4 text-center">Recruiter Profile Setup</h4>
  <div class="container mt-5">
    <form [formGroup]="profileForm" (ngSubmit)="submitProfile()" class="mx-auto" style="max-width: 1100px;">
      <div class="card p-4 shadow-sm">

        <!-- ================= PROFILE PHOTO ================= -->
        <div class="profile-section">
          <!-- ================= PROFILE PHOTO ================= -->
          <h5 class="fw-semibold mb-3">Profile Photo</h5>

          <app-file-preview [fileUrl]="profilePhotoUrl"></app-file-preview>
          <div class="mt-3">
            <app-file-upload [bucketKey]="BucketKey.RECRUITER_DATA" [section]="UploadSection.PROFILE_PHOTO"
              [preLoginUserId]="userId" accept="image/*" (uploaded)="onPhotoUploaded($event)">
            </app-file-upload>
          </div>

          @if (
          profileForm.get('profilePhoto')?.touched &&
          profileForm.get('profilePhoto')?.errors?.['required']
          ) {
          <small class="text-danger d-block mt-2">
            Profile photo is required
          </small>
          }

        </div>

        <!-- ================= BASIC DETAILS ================= -->
        <div class="basic-details mt-5">
          <h5 class="fw-semibold">Basic Details</h5>

          <div class="row g-3">

            <div class="col-md-4">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control form-control-sm" [value]="firstName" disabled>
            </div>

            <div class="col-md-4">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control form-control-sm" [value]="lastName" disabled>
            </div>

            <div class="col-md-4">
              <label class="form-label">Email</label>
              <input type="email" class="form-control form-control-sm" [value]="email" disabled>
            </div>

            <div class="col-md-4">
              <label class="form-label">Mobile Number</label>
              <div class="d-flex gap-2">
                <input type="text" class="form-control form-control-sm" placeholder="Phone number" formControlName="mobile">
              </div>

              @if (
              f['mobile'].invalid &&
              (f['mobile'].touched || f['mobile'].dirty)
              ) {
              <small class="text-danger">Enter valid 10-digit mobile</small>
              }


            </div>

            <div class="col-md-4">
              <label class="form-label">Gender</label>
              <select class="form-select form-select-sm" formControlName="gender">
                <option value="" disabled>Select Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>

              @if (
              f['gender'].invalid &&
              (f['gender'].touched || f['gender'].dirty)
              ) {
              <small class="text-danger">Gender required</small>
              }
            </div>

          </div>
        </div>

        <div class="company-details mt-5">
          <h5 class="fw-semibold">Company Details</h5>
          <div class="row g-4 align-items-start">

            <!-- ===== Company Logo ===== -->
            <div class="col-md-4">
              <label class="form-label fw-semibold">Company Logo</label>

              <div class="company-logo-box mt-2">
                <app-file-preview [fileUrl]="logoUrl"></app-file-preview>

                <app-file-upload class="mt-3" [bucketKey]="BucketKey.RECRUITER_DATA" [preLoginUserId]="userId"
                  [section]="UploadSection.COMPANY_LOGO" accept="image/*" (uploaded)="onlogoUploaded($event)">
                </app-file-upload>
              </div>

              @if (
              profileForm.get('logo')?.touched &&
              profileForm.get('logo')?.errors?.['required']
              ) {
              <small class="text-danger d-block mt-2">
                Company logo is required
              </small>
              }
            </div>

            <!-- ===== Company Info ===== -->
            <div class="col-md-8">

              <div class="row g-3">

                <!-- Company Name -->
                <div class="col-md-12">
                  <label class="form-label fw-semibold">Company Name</label>

                  <input type="text" class="form-control form-control-sm" formControlName="companyName" placeholder="Enter company name" />

                  @if (
                  f['companyName'].invalid &&
                  (f['companyName'].touched || f['companyName'].dirty)
                  ) {
                  <small class="text-danger">Company name is required</small>
                  }
                </div>

                <!-- Company Location -->
                <div class="col-md-12">
                  <label class="form-label fw-semibold">Company Location</label>
                  <input type="text" class="form-control form-control-sm" formControlName="companyLocation" placeholder="City, State, Country" />

                  @if (
                  f['companyLocation'].invalid &&
                  (f['companyLocation'].touched || f['companyLocation'].dirty)
                  ) {
                  <small class="text-danger">Company location is required</small>
                  }
                </div>

                <!-- Company Description -->
                <div class="col-md-12">
                  <label class="form-label fw-semibold">Company Description</label>

                  <textarea class="form-control form-control-sm" rows="5" formControlName="companyDescription" placeholder="Brief description about the company"> </textarea>

                  @if (
                  f['companyDescription'].invalid &&
                  (f['companyDescription'].touched || f['companyDescription'].dirty)
                  ) {
                  <small class="text-danger">
                    Company description is required
                  </small>
                  }
                </div>

              </div>

            </div>






          </div>

        </div>


        <div class="professional-section mt-5">
          <h5 class="fw-semibold">Professional Details</h5>
          <div class="row g-3">
            <!-- Sector -->
            <div class="col-md-4 mt-3">
              <label class="form-label fw-semibold">Sector / Department</label>

              <select class="form-select form-select-sm" formControlName="sector">
                <option value="">Select sector</option>

                @for (sector of sectors; track sector) {
                <option [value]="sector">{{ sector }}</option>
                }
              </select>

              @if (
              f['sector'].invalid &&
              (f['sector'].touched || f['sector'].dirty)
              ) {
              <small class="text-danger">Sector is required</small>
              }
            </div>


            <!-- Designation -->
            <div class="col-md-4 mt-3">
              <label class="form-label fw-semibold">Designation</label>

              <select class="form-select form-select-sm" formControlName="designation" [disabled]="!designations.length">
                <option value="">Select designation</option>

                @for (designation of designations; track designation) {
                <option [value]="designation">{{ designation }}</option>
                }
              </select>

              @if (
              f['designation'].invalid &&
              (f['designation'].touched || f['designation'].dirty)
              ) {
              <small class="text-danger">Designation is required</small>
              }
            </div>


            <!-- Experience -->
            <div class="col-md-4 mt-3">
              <label class="form-label fw-semibold">Years Experience</label>
              <input type="number" class="form-control form-control-sm" placeholder="Years" formControlName="yearsOfExperience">
              @if (
              f['yearsOfExperience'].invalid &&
              (f['yearsOfExperience'].touched || f['yearsOfExperience'].dirty)
              ) {
              <small class="text-danger">Years of Experience is required</small>
              }
            </div>
          </div>
        </div>

        <!-- ================= LANGUAGES ================= -->
        <div class="language-section mt-5">

          <div class="d-flex justify-content-between mb-3">
            <h5 class="fw-semibold">Languages</h5>

            <button class="btn btn-sm btn-outline-primary" type="button" (click)="addLanguage(languageSelect, levelSelect)">
              + Add Language
            </button>

          </div>

          <div class="row g-2 align-items-end language-row">


            <!-- Language -->
            <div class="col-md-4">
              <select #languageSelect class="form-select form-select-sm">
                <option value="" disabled selected>Select Language</option>
                @for (lang of languages; track lang) {
                <option [value]="lang">{{ lang }}</option>
                }
              </select>
            </div>

            <!-- Proficiency -->
            <div class="col-md-4">
              <select #levelSelect class="form-select form-select-sm">
                <option value="" disabled selected>Select Proficiency</option>

                @for (level of proficiencyLevels; track level) {
                <option [value]="level">{{ level }}</option>
                }
              </select>
            </div>


          </div>

          <!-- Language List -->
          <div class=" mt-3">
            @for (lang of languagesArray.controls; track $index) {
            <div class="d-flex align-items-center justify-content-between mb-2">
              <span>
                {{ lang.value.language }} ({{ lang.value.proficiency }})
              </span>

              <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeLanguage($index)">
                Remove
              </button>
            </div>
            }
          </div>
        </div>

        <!-- ================= SKILLS ================= -->
        <div class="skills-section mt-5">
          <h5 class="fw-semibold">Skills</h5>

          <input class="form-control form-control-sm" placeholder="Type a skill & press Enter" (keydown.enter)="addSkill($event)" />
          <div class="row mt-3">
            <div class="col-12">
              <div class="d-flex flex-row flex-wrap align-items-center gap-2">
                @for (skill of skillsArray.controls; track $index) {
                <span
                  class="badge badge-outline-primary border border-primary text-dark d-inline-flex align-items-center">
                  {{ skill.value }}
                  <button type="button" class="btn-close btn-close-primary btn-sm ms-2" (click)="removeSkill($index)">
                  </button>
                </span>

                }

              </div>
            </div>
          </div>


        </div>

        <!-- ================= BIO ================= -->
        <div class="bio-section mt-5">
          <h5 class="fw-semibold">Bio Description</h5>
          <textarea class="form-control form-control-sm" rows="3" placeholder="Describe your professional background"
            formControlName="bioDescription"></textarea>
        </div>


        <!-- ================= SOCIAL PROFILES ================= -->
        <div class="socialProfile-section mt-5">


          <div class="d-flex justify-content-between mb-3">
            <h5 class="fw-semibold">Social Profiles</h5>

            <button type="button" class="btn btn-primary btn-sm" (click)="addSocialProfile()"
              [disabled]="!canAddAnotherProfile()">
              + Add Profile
            </button>
          </div>


          <div formArrayName="socialProfiles">

            @for (profile of socialProfiles.controls; track $index) {
            <div class="social-card mt-3" [formGroupName]="$index">
              <div class="row g-3 align-items-stretch">


                <!-- Platform -->
                <div class="col-md-4">
                  <select class="form-select form-select-sm" formControlName="platform">
                    <option value="" disabled>Select Platform</option>
                    @for (platform of socialPlatforms; track platform) {
                    <option [value]="platform">{{ platform }}</option>
                    }
                  </select>

                  @if (profile.get('platform')?.touched && profile.get('platform')?.invalid) {
                  <small class="text-danger">Platform is required</small>
                  }
                </div>

                <!-- Link -->
                <div class="col-md-6">
                  <input class="form-control form-control-sm" placeholder="https://..." formControlName="link" />
                  @if (isProfileInvalid($index)) {
                  @if (profile.errors?.['invalidUrl']) {
                  <small class="text-danger">
                    Please enter a valid URL for the selected platform
                  </small>
                  }

                  @if (profile.get('link')?.errors?.['required']) {
                  <small class="text-danger">Link is required</small>
                  }
                  }
                </div>

                <!-- Remove -->
                <div class="col-md-2 justify-content-end">
                  <button type="button" class="btn btn-outline-danger btn-sm w-50"
                    (click)="removeSocialProfile($index)">
                    Remove
                  </button>
                </div>

              </div>

            </div>
            }
          </div>

        </div>





        <div class="submit-area text-end mt-5">
          <button class="btn btn-sm btn-success" type="submit" [disabled]="profileForm.invalid">
            Submit Profile
          </button>
        </div>

      </div>
    </form>
  </div>
</section>
