/* Wrapper */
.login-wrapper {
  width: 100%;
  padding: 20px;
}

/* Logo */
.logo-img {
  height: 80px;
}

@media (max-width: 480px) {
  .logo-img {
    height: 50px;
  }
}

/* Form container */
.form-area {
  width: 100%;
  max-width: 320px;
}



/* Forgot password link */
.forgot-link {
  font-size: 13px;
  color: #0d6efd;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Signup link */
.login-link {
  text-decoration: none;
  transition: 0.2s ease;
}

.login-link:hover {
  text-decoration: underline;
}

