<div class="table-footer mb-5">
  <div class="footer-wrapper">

    <!-- LEFT SIDE -->
    <div class="left-section">
      <small class="result-text">
       <strong>{{ start }} – {{ end }}</strong>
        of <strong>{{ total }}</strong>
      </small>

      <select class="form-select form-select-sm limit-dropdown" (change)="changeLimit($event)">
        <option [selected]="limit === 5">5</option>
        <option [selected]="limit === 10">10</option>
        <option [selected]="limit === 25">25</option>
        <option [selected]="limit === 50">50</option>
      </select>
    </div>

    <!-- RIGHT SIDE -->
    <nav class="pagination-wrapper">
      <ul class="pagination pagination-sm custom-pagination mb-0">

        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="prev()">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>

        @for (p of totalPages; track p) {
          <li class="page-item" [class.active]="p === page">
            <a class="page-link" (click)="changePage(p)">
              {{ p }}
            </a>
          </li>
        }

        <li class="page-item" [class.disabled]="page === totalPages.length">
          <a class="page-link" (click)="next()">
            <i class="bi bi-chevron-right"></i>
          </a>
        </li>

      </ul>
    </nav>

  </div>
</div>
