/* You can add global styles to this file, and also import other style files */
/* ===== Hide scrollbar (all browsers) ===== */
html, body {
  overflow-y: scroll;       /* allow scrolling */
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* IE & old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}
