
/* Job cards */
.job-card {
  min-height: 250px;
  border-radius: 8px;
}

.company-logo {
  height: 32px;
  width: auto;
  object-fit: contain;
}



/* Text adjustments */
h4, h5, h6 {
  font-weight: 600;
}

.small {
  font-size: 0.86rem;
}
